/*Font Section starts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
/*Font Section ends*/

/*Shared Section*/
.display-flex {
    display: flex;
}

.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.dark4{
    color: #A1A1A1;
}
.dark5{
    color: #D0D0D0;
}
.dark6{
    color: #E7E7E7;
}
.dark7{
    color: #F3F3F3;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
/*Header Section*/

/*navbar section*/
    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    .brand-name{
        font-size: 45px;
    }
    .menu .menu-item{
        list-style-type: none;
        margin-right: 30px;
    }
    .menu-item .menu-link{
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }
    .navbar #banner{
        max-width: 1440px;
        margin: 0 auto;
    }
/*banner section*/
    .banner-content{
        max-width: 860px;
        margin: 65px auto 50px auto;
        text-align: center;

    }
    .banner-title{
        font-size: 4rem;
    }
    #banner img{
        width: 100%;
    }
/*Main Section*/
