@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared style section*/
.display-flex{
    display: flex;
}
.header-bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;

    font-size:1.25rem;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/*header section*/
header{
    max-width: 1920px;
    padding: 50px 240px;
    margin: 0 auto;
}
    /*nav-section*/
#navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
}
.brand-name{
    font-size: 2.8rem;
    font-weight: 700;
}
.menu-item{
    list-style-type: none;
    margin-right: 30px;
}
.menu-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}

#navbar, #banner{
    max-width: 1440px;
    margin: 0 auto;
}

    /*banner-section*/
#banner{
    margin-top: 51px;
}
#banner .banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
#banner .banner-content .banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.banner-content .banner-des{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}
.banner-content button{
    margin-bottom: 50px;
}
/* #banner .banner-image{
    width: 1440px;
    margin: 0 auto;
} */
.banner-image img{
    width: 100%;
}
/*main style section*/

    /*team section*/

#team{
    align-items: center;
    max-width: 1440px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 540px;
}
.our-features .title-part1{
    font-size: 2.8rem;
    font-weight: 500;
}
.our-features .title-part2{
    font-size: 2.8rem;
    font-weight: 700;
}
.our-features .title-part3{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FF900E;
}
.feature-title{
    margin-bottom: 24px;
}
.feature-des{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}


/*responsive part*/

@media screen and (max-width: 576px) {
    #navbar, #team, .menu{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 30px;
    }
    #banner .banner-content .banner-title{
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 32px;
    }
}

/*medium devices*/

@media screen and (min-width: 576px) and (max-width: 992px){
    #navbar, #team, .menu{
        flex-direction: column;
    }
    /* #team{
        flex-direction: column;
    } */
    .our-features{
        margin: 50px auto;
    }
}